<!DOCTYPE html>
<html ng-app="ViewUpload">

<head>
    <title>Account Balance</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../app/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script type="text/javascript" src="../app/controllers/uploadstatement.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/xlsx.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/jszip.js"></script>
    <script src="../app/js/xlsx.full.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.7.7/xlsx.core.min.js"></script>
</head>

<body>
    <div class="navbar">
        <a href="uploadstatement.html" style="background-color:red">Upload Statement</a>
        <a href="viewstatement.html">View Statement</a>
        <a href="viewgraph.html">View Graph</a>
    </div>
    <div ng-controller="ViewUploadController">
        <input type="file" ng-model="files" accept="excel/*" custom-on-change="uploadFile">
    </div>
</body>