<!DOCTYPE html>
<html ng-app="ViewStatement">

<head>
    <title>Account Balance</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../app/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script type="text/javascript" src="../app/controllers/viewstatement.js"></script>
</head>

<body>
    <div class="navbar">
        <a href="uploadstatement.html">Upload Statement</a>
        <a href="viewstatement.html" style="background-color:red">View Statement</a>
        <a href="viewgraph.html">View Graph</a>
    </div>
    <div ng-controller="ViewStatementController">
        <br />
        <h2>Balance as of {{statement.balanceDate}}</h2>
        <br />
        <div class="table100 ver1 m-b-110">
            <table data-vertable="ver1">
                <thead>
                    <tr class="row100 head">
                        <th class="column100 column2" data-column="column2">R&D</th>
                        <th class="column100 column3" data-column="column3">Canteen</th>
                        <th class="column100 column4" data-column="column4">CEO's Car</th>
                        <th class="column100 column5" data-column="column5">Marketing</th>
                        <th class="column100 column6" data-column="column6">Parking fines</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="row100">
                        <td class="column100 column2" data-column="column2">Rs. {{statement.balanceRAD}}</td>
                        <td class="column100 column3" data-column="column3">Rs. {{statement.balanceCanteen}}</td>
                        <td class="column100 column4" data-column="column4">Rs. {{statement.balanceCEOCar}}</td>
                        <td class="column100 column5" data-column="column5">Rs. {{statement.balanceMarketing}}</td>
                        <td class="column100 column6" data-column="column6">Rs. {{statement.balanceParkingFines}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>